body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.h1 {
  color: #ffffff;
  width: 100%;
}
.h1,
.search-form {
  text-align: center;
}
.search-form {
  margin: 0 auto;
}
.search-form > button {
  width: 100%;
}
.card {
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
}
.card-body {
  background-color: #000000;
  text-align: left;
}
.card-img {
  width: 70%;
  margin: 0 auto;
}
.cardTitle {
  text-align: center;
  font-weight: bold;
}
.lastTitle {
  margin-bottom: 1em;
}
body {
  background: #000000;
}
.row {
  text-align: center;
  margin-bottom: 2em;
}
.navbar {
  width: 100%;
  color: #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 2em;
}
.label {
  color: #fff;
}
.form-group {
  text-align: left;
}
.column {
  margin: 0 auto;
  margin-bottom: 2em;
}
